---
layout: list
title: Beers
---
<script>
window.onload = function() {
  var wall = new Masonry( document.getElementById('container'), {
    columnWidth: 0
  });
};
</script>

<div id="container">
     {% for post in site.posts %}
     <div class="item">
       <div class="image">
	 {% if post.beer %}
	   <img src='img/{{post.beer}}' height=260 width=260 />
	   {% endif %}
	 <a href="./{{post.url}}"><h4><span>{{post.title}}:<br />{{post.style}}</span></h4></a>
       </div>
     </div>
     {% endfor %}
</div>
