body {font-family:Lato; margin-left:300px;margin-top:20px; margin-bottom:0px}
a {text-decoration: none; color:black}
h1 {text-align: center; text-transform: uppercase; font-size:32px}
h2 {text-align: center}
h3 {text-align: left}
h4 {text-decoration: underline; margin:0px; text-align: left}
h5 {
   position:absolute;
   top:100px;
   width:100%;
   text-align:right;
}
ul {margin:0px}
p {margin-top:10px; margin-bottom:5px}
div.homeicon {
	     position: absolute;
	     left:20px;
	     top:20px;
	     float:left;
}

div.cover {
	  margin-top:30px;
	  margin-left:-280px;
	  float:left;
}

div.beer {
	  margin-top:220px;
	  margin-left:-280px;
	  float:left;
}

tr td:first-child {
   width: 1%;
   white-space: nowrap;
}

table {
   font-size:20px;
}

div.main {
   margin-left: 20%;
   margin-right:20%;
   margin-top:5%;
   font-size:18pt;
}


div.hr {
       background: #000  no-repeat scroll center;
       margin-left:35%;
       margin-right:35%;
       width:30%;
       height:2px;
}
	
.item {
      border: 2px solid;
        width: 260px;
	height: 260px;
  	margin: 10px;
  	float: left;
}

h5 span{
   color: white;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding:10px;      
   line-height:+39px;
}

.image {
       position: relative; 
   width: 100%; /* for IE 6 */
}

h5 span.spacer {
   padding:0 5px;
}