body {font-family:Lato; margin-left:20%;margin-top:20px; margin-bottom:0px}
a {text-decoration: none; color:white}
h1 {text-align: center; text-transform: uppercase}
h2 {text-align: center}
h3 {text-decoration: underline; margin:0px}
h4 {margin-top:0px; margin-bottom:5px}
ul {margin:0px}
p {margin-top:10px; margin-bottom:5px}
div.homeicon {
	     margin-left:-20%;
	     float:left;
}

div.cover {
	  margin-top:30px;
	     margin-left:-20%;
	     float:left;
}


div.hr {
       background: #fff  no-repeat scroll center;
       margin-left:35%;
       margin-right:35%;
       width:30%;
       height:2px;
}
	
.item {
      border: 2px solid;
  width: 220px;
  margin: 10px;
  float: left;
}