body {font-family:Lato}
a {text-decoration: none; color:white}
h1 {text-align: center; text-transform: uppercase}
h2 {text-align: center}
div.hr {
       background: #fff  no-repeat scroll center;
       margin-left:35%;
       margin-right:35%;
       width:30%;
       height:2px;
}
	
.item {
      border: 2px solid;
  width: 220px;
  margin: 10px;
  float: left;
}